
    <center>    <div class="text-justify" style="background: #faf2cc ;width: 70%">
        <h4><strong>Description</strong></h4>
        <h5 class="text-lowercase">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum malesuada tristique. Cras sed sagittis mi, ut tincidunt tellus. Nulla facilisi. Maecenas fringilla luctus libero, et vestibulum dui finibus venenatis. Vestibulum vel eros tristique, congue ipsum sed, blandit ligula. Morbi faucibus euismod dolor ac convallis. Donec faucibus et leo eget accumsan. Praesent sollicitudin molestie erat, nec laoreet eros volutpat a.
    </h5>
</div><br></center>

